body
{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

#status
{
	position: absolute;
	width: 700px;
	height: 80px;
	left: 50%;
	top: 50%;
	margin-top: 40px;
	font-size: 50px;
	text-align: center;
	color: black;
	margin-left: -350px;
}

.ground
{

}

.stars
{

}
 
.cloud
{
	
}

/*
 Plan: make sky.  Dark gradient and stars with offline, light gradient and clouds with online plus wake up music.
 * */