body
{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #22aa22;
}

#status
{
	position: absolute;
	width: 700px;
	height: 80px;
	left: 50%;
	top: 50%;
	margin-top: 40px;
	font-size: 50px;
	text-align: center;
	color: white;
	margin-left: -350px;
}