html
{
	height: 100%;
}

body
{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background: paleturquoise; /*I think it's funny that this is actually a color*/
}

#status
{
	position: absolute;
	width: 700px;
	height: 80px;
	left: 50%;
	top: 35%;
	font-size: 90px;
	text-align: center;
	color: white;
	margin-left: -350px;
}

.sky
{
	width: 100%;
	height: 100%;
	/* I decided to go the creative route with the color names... */
	background: paleturquoise; /* Old browsers */
	background: -moz-linear-gradient(top, paleturquoise 0%, powderblue 41%, lightsteelblue 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,paleturquoise), color-stop(41%,powderblue), color-stop(100%,lightsteelblue)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, paleturquoise 0%,powderblue 41%,lightsteelblue 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, paleturquoise 0%,powderblue 41%,lightsteelblue 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, paleturquoise 0%,powderblue 41%,lightsteelblue 100%); /* IE10+ */
	background: linear-gradient(to bottom, paleturquoise 0%,powderblue 41%,lightsteelblue 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* IE6-9 */
}

.ground
{
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: 0px;
	background: yellowgreen;
}

.stars
{
display: none; /* During "daytime," don't display */
}

.cloud
{
	/* Might steal this from my StarCatcher project just for time-saving purposes */
}
